input[type=checkbox] {
  display: none; }

.create_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16em;
  height: 8em;
  background-color: #3A3B3C;
  border-radius: 12px;
  transition-property: background-color, color, box-shadow, transform;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .create_box:hover, .create_box:focus {
    background-color: #E4E6EB;
    color: #18191A;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
    cursor: pointer; }
  .create_box:active {
    background: #E4E6EB;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    transform: translateY(0) scale(0.975); }

.box_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

body {
  font-family: "Andika New Basic", sans-serif;
  background-color: #18191A;
  color: #E4E6EB;
  height: 100vh; }

input, select {
  font-family: inherit; }

.nav_container {
  font-weight: 700;
  padding: 0;
  background-color: #3A3B3C; }

.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0; }
  .nav__toggle svg {
    width: 1.5rem; }
  .nav__toggle .close {
    display: none;
    margin-top: 0.2rem;
    padding-top: 0.4rem; }
  .nav__toggle .menu {
    margin-top: 0.2rem; }

.nav__checkbox {
  display: none; }

.nav__menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 1rem; }
  .nav__menu li {
    list-style: none;
    display: none;
    cursor: pointer; }
    .nav__menu li:first-child {
      margin-right: auto;
      display: block; }
  .nav__menu a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem; }
  .nav__menu svg {
    width: 1.5rem;
    fill: #E4E6EB; }

#nav__checkbox:checked ~ ul.nav__menu li {
  display: block; }

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block; }

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none; }

@media only screen and (min-width: 560px) {
  .nav__toggle {
    display: none; }
  .nav__menu {
    flex-direction: row; }
    .nav__menu li {
      display: block; } }

.dropdown {
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .dropdown__face, .dropdown__items {
    cursor: pointer;
    color: inherit;
    font-size: 1.2rem; }
  .dropdown__face {
    display: block;
    position: relative; }
  .dropdown__items {
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    width: 220px;
    transition: all 0.3s ease; }
  .dropdown input[type=checkbox] {
    display: none; }
    .dropdown input[type=checkbox]:checked ~ .dropdown__items {
      top: calc(100% + 25px);
      visibility: visible;
      opacity: 1;
      z-index: 1; }
  .dropdown .username_input {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #3A3B3C;
    border-radius: 14px;
    overflow: hidden; }

.container {
  width: 100%;
  height: calc(100% - 4em);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex; }

/*@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}*/
@media (min-width: 576px) {
  .container {
    width: 540px; } }

@media (min-width: 768px) {
  .container {
    width: 720px; } }

@media (min-width: 992px) {
  .container {
    width: 960px; } }

@media (max-width: 1500px) {
  .chat_input {
    border-radius: 0px 0px 14px 14px; }
  .chat {
    border-radius: 14px 0px 0px 0px; } }

@media (min-width: 1500px) {
  .container {
    width: 1450px; }
  .chat_input {
    border-radius: 0px 0px 14px 0px; }
  .chat {
    border-radius: 0px 0px 0px 0px; } }

.room_container {
  height: 614px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  z-index: 0; }

.chat_container {
  min-width: 345px;
  width: 25%;
  height: 100%;
  padding-bottom: 20px;
  margin-top: 10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  border-radius: 0px 14px 14px 0px;
  overflow: hidden; }

/*.chat_box {
    padding: 10px;
    height: 100%;
    width: 100%;
}*/
.chat_input {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 2px solid #18191A;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  overflow: hidden;
  height: 53px; }

.input_text {
  width: 100%;
  padding: 12px;
  background-color: #3A3B3C;
  border: none;
  color: white;
  font-weight: 550;
  font-size: 1rem;
  outline: none; }
  .input_text:active, .input_text:focus {
    outline: none; }

.chat_submit {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-weight: 550;
  font-size: 1rem;
  background-color: #3A3B3C;
  transition-property: background-color, color;
  transition-timing-function: ease-out;
  transition-duration: 0.2s; }
  .chat_submit:hover, .chat_submit:focus {
    background-color: #E4E6EB;
    color: #18191A;
    cursor: pointer; }
  .chat_submit:active {
    background: #E4E6EB; }

.hide {
  display: none; }

/**::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
  padding: 0;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  padding: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: transparent; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #B0B3B8;
  border-radius: 14px;
  opacity: 0;
  transition: opacity 0.2s  ease; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 1;
  background: #d5e2ee; }

.chat_list {
  background-color: #3A3B3C;
  font-family: inherit;
  font-size: 1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  border-top: 2px solid #18191A;
  position: relative;
  margin: 0 auto;
  overflow-wrap: break-word; }
  .chat_list .client_message, .chat_list .foreign_message {
    padding: 3px 10px;
    margin: 0px 8px 2px 8px;
    max-width: 80%;
    color: white;
    border-radius: 5px; }
  .chat_list .client_message {
    background-color: #0786ff; }
  .chat_list .foreign_message {
    align-self: flex-start;
    background-color: #af851b;
    will-change: auto;
    height: auto; }
  .chat_list .name {
    font-size: 0.8em;
    color: #B0B3B8; }
  .chat_list .client_user {
    margin-right: 8px;
    max-width: 80%; }
  .chat_list .foreign_user {
    align-self: flex-start;
    will-change: auto;
    height: auto;
    margin-left: 8px; }
  .chat_list .welcome_message {
    align-self: center;
    margin: 10px;
    font-size: 1.3rem;
    font-weight: 800;
    color: white; }
  .chat_list .new_join {
    align-self: center; }

.tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center; }
  .tabs .chat {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 4px 8px;
    width: 50%;
    border-right: 1px solid #18191A;
    background-color: #3A3B3C;
    transition-property: background-color, color;
    transition-timing-function: ease-out;
    transition-duration: 0.2s; }
    .tabs .chat:hover, .tabs .chat:focus {
      background-color: #E4E6EB;
      color: #18191A;
      cursor: pointer; }
    .tabs .chat:active {
      background: #E4E6EB; }
  .tabs .online {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 4px 8px;
    background-color: #3A3B3C;
    width: 50%;
    border-left: 1px solid #18191A;
    transition-property: background-color, color;
    transition-timing-function: ease-out;
    transition-duration: 0.2s; }
    .tabs .online:hover, .tabs .online:focus {
      background-color: #E4E6EB;
      color: #18191A;
      cursor: pointer; }
    .tabs .online:active {
      background: #E4E6EB; }

.user_list {
  display: none;
  background-color: #3A3B3C;
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 14px 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px solid #18191A; }

.users_online_text {
  margin: 10px;
  font-size: 1.3rem;
  font-weight: 800;
  color: white; }

.chat_notify {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #ff4141;
  display: none;
  position: absolute; }

.player_overlay {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute; }

.player_container {
  float: left;
  padding: 10px 0px 10px 10px;
  max-width: 1065px;
  max-height: 614px;
  width: 90vw;
  height: 50.85vw;
  position: relative;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  .player_container:fullscreen {
    padding: 0; }
  .player_container:fullscreen .bar_container {
    margin: 0;
    z-index: 99999;
    justify-content: space-around; }
    .player_container:fullscreen .bar_container .open_chat {
      display: flex;
      position: relative; }
  .player_container:fullscreen .player_overlay {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; }
  .player_container:hover .bar_container {
    opacity: 1; }

.bar_container {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 100%;
  max-width: inherit;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  padding: 10px;
  margin: 10px;
  left: 0;
  bottom: 0;
  background-color: #252424;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  opacity: 0;
  transition: opacity 0.25s; }
  .bar_container:fullscreen {
    margin: 0; }

.bar {
  width: 65%;
  height: 10px;
  background-color: rgba(226, 225, 225, 0.7);
  border-radius: 20px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 1; }

.bar_progress {
  background-color: #3A3B3C;
  height: 100%;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; }

.handle {
  height: 14px;
  width: 14px;
  border-radius: 30px;
  position: absolute;
  background-color: white;
  margin: -7px;
  box-shadow: 0px 0px 5px black;
  z-index: 9999; }
  .handle:hover {
    cursor: pointer; }

.play_pause {
  display: flex;
  justify-content: center;
  align-items: center; }

.pause {
  display: none; }

.video_time {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px; }
  .fullscreen .exit_fullscreen {
    display: none; }

.icon {
  cursor: pointer;
  height: 24px;
  width: 24px; }

iframe {
  height: 100%;
  width: 100%; }

.volume {
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .volume .volume_down,
  .volume .volume_mute {
    display: none; }
  .volume:hover .volume_range_container {
    display: flex; }

.open_chat {
  display: none;
  align-items: center;
  justify-content: center; }

.volume_range_container {
  height: 200px;
  width: 60px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-right: 5px; }
  .volume_range_container:hover, .volume_range_container:active, .volume_range_container:focus-within {
    display: flex; }

.volume_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; }

.volume_bar {
  height: 60%;
  width: 10px;
  padding: 2px;
  background-color: #3A3B3C;
  border-radius: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start; }

.volume_bar_progress {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

.volume_handle {
  height: 14px;
  width: 14px;
  border-radius: 30px;
  position: absolute;
  background-color: white;
  margin: -7px;
  box-shadow: 0px 0px 5px black;
  z-index: 9999; }
  .volume_handle:hover {
    cursor: pointer; }

.change_url {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 31px; }
  .change_url__face, .change_url__text {
    cursor: pointer;
    color: inherit;
    font-size: 1.2rem; }
  .change_url__face {
    display: block;
    position: relative; }
  .change_url__textbox {
    margin: 0;
    width: 0px;
    transition: width 0.25s ease;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border-radius: 14px;
    overflow: hidden;
    background-color: #E4E6EB; }
    .change_url__textbox .new_url {
      width: 0px;
      opacity: 0;
      transition: width 0.25s ease, opacity 0.01s ease;
      padding: 10px;
      background-color: #E4E6EB;
      border: none;
      color: #18191A;
      font-weight: 550;
      font-size: 1rem; }
      .change_url__textbox .new_url:active, .change_url__textbox .new_url:focus {
        outline: none; }
    .change_url__textbox .url_submit {
      height: 100%;
      opacity: 0;
      transition: opacity 0.1s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      fill: #18191A; }
      .change_url__textbox .url_submit svg {
        fill: #18191A; }
  .change_url input[type=checkbox] {
    display: none; }
    .change_url input[type=checkbox]:checked ~ .change_url__textbox {
      width: 300px;
      opacity: 1; }
      .change_url input[type=checkbox]:checked ~ .change_url__textbox .new_url {
        width: 270px;
        opacity: 1; }
      .change_url input[type=checkbox]:checked ~ .change_url__textbox .url_submit {
        opacity: 1; }

.chat_overlay {
  position: absolute;
  right: 10px;
  bottom: 50px;
  height: 0;
  opacity: 0;
  width: 350px;
  z-index: 9999;
  padding: 0;
  margin: 0;
  border-radius: 14px;
  transition: height 0.25s ease, opacity 0.25s ease;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; }

.close_chat {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  cursor: pointer; }

#chat_notify_fullscreen {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #ff4141;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: -4px; }

/*# sourceMappingURL=main.css.map */